.mainHeader {
    width: 100%;
    height: 100px;
    background-color: red;
}

.mainHeaderContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1690px;
    margin: 0 auto;
}