.mainHeader {
    width: 100%;
    height: 100px;
    background-color: hsl(0, 100%, 100%);
}

.mainHeader.dark {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.mainHeaderContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1690px;
    margin: 0 auto;
}

.mainHeaderContainer>h1 {
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.2px;
}