.searchWrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 50px;
    font-size: 14px;
    background-color: white;
}

.searchIcon {
    margin-inline: 1em;
}

.searchInput {
    display: block;
    flex: 1;
    height: 100%;
    border: unset;
}

.searchInput:focus {
    outline: unset;
}