.searchWrapper {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 50px;
    font-size: 14px;
    background-color: hsl(0, 100%, 100%);
    color: hsl(200, 15%, 8%);
    padding-inline: 0.5em;
    box-shadow: 0 0 20px 2.5px rgb(0, 0, 0, 0.1);
}

.searchWrapper.dark {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 100%, 100%);
}

.searchIcon {
    margin-inline: 1.5em;
}

.searchInput {
    display: block;
    flex: 1;
    height: 100%;
    padding-right: 1em;
    border: unset;
    background-color: inherit;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
}

.searchInput::placeholder {
    color: inherit;
}

.searchInput:focus {
    outline: unset;
}