#root {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: hsl(0, 0%, 99%);
}

.wrapper.dark {
  background-color: hsl(207, 26%, 17%);
}

.container {
  width: 100%;
  max-width: 1690px;
  overflow-x: hidden;
  margin: 0 auto;
}

.filterSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: baseline;
}

.countriesFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  background-color: hsl(0, 100%, 100%);
  width: 12%;
  appearance: none;
  padding-inline: 1em;
  box-shadow: 0 0 20px 2.5px rgb(0, 0, 0, 0.1);
}

.countriesSelect {
  height: 100%;
  background-color: inherit;
  appearance: none;
  border: unset;
  flex: 1;
}

.countriesGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 20%);
  row-gap: 100px;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  margin-top: 30px;
}

.countriesGridItem {
  display: block;
  position: relative;
  width: 100%;
  white-space: nowrap;
  margin: unset;
  padding: unset;
}

.countryDetailTitle {
  text-align: left;
}

.countryDetailItem {
  text-align: left;
}

.countryDetailLabel {
  font-weight: 500;
}

.wrapper.dark .countryDetailTitle {
  color: #FFFFFF;
}

.wrapper.dark .countryDetailItem {
  color: #FFFFFF;
}